[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
jupyterlab = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
pylint = "*"
black = "*"
nbstripout = "*"

[packages]
scrapy = "*"
scrapyd = "*"
scrapyd-client = "*"
geopy = "*"
pyarrow = "*"
tqdm = "*"
plotly = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
